:root {
  --black: black;
  --yellow: #e5ff02;
  --blue: #0049ff;
  --sand: #feffe1;
  --white: white;
  --red: #fe6033;
  --grey: #d9d9d9;
}

body {
  color: #333;
  font-family: Atypdisplay, sans-serif;
  font-size: 16rem;
  font-weight: 500;
  line-height: 140%;
}

h1 {
  text-transform: none;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Futurehistory, sans-serif;
  font-size: 100rem;
  font-style: normal;
  font-weight: 400;
  line-height: 105%;
}

h2 {
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Futurehistory, sans-serif;
  font-size: 30rem;
  font-weight: 400;
  line-height: 105%;
}

h3 {
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Futurehistory, sans-serif;
  font-size: 30rem;
  font-weight: 700;
  line-height: 120%;
}

.main {
  background-color: var(--black);
  padding-left: 64rem;
}

.navbar {
  border-right: 1rem solid var(--yellow);
  border-bottom: 1rem solid var(--yellow);
  background-color: var(--black);
  height: 100vh;
  display: flex;
  position: fixed;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: auto;
}

.container {
  width: 100%;
  max-width: 1440rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: 50rem;
  padding-right: 50rem;
}

.container.nav__wrapper {
  padding-left: 0;
  padding-right: 0;
  position: relative;
}

.container.fixed {
  position: -webkit-sticky;
  position: sticky;
  bottom: 10rem;
}

.container.works-absolute {
  justify-content: center;
  align-items: center;
  padding-left: 50rem;
  display: flex;
  position: absolute;
  bottom: 100rem;
}

.container.relative {
  z-index: 5;
  position: relative;
}

.container.p-0 {
  padding-left: 0;
  padding-right: 0;
}

.nav-menu {
  flex-flow: column;
  width: 100%;
  display: flex;
}

.nav__container {
  z-index: 10;
  background-color: var(--black);
  flex-flow: column;
  justify-content: space-between;
  height: 100%;
  padding-top: 52rem;
  display: flex;
  position: relative;
}

.hero {
  background-color: var(--black);
  position: relative;
  overflow: hidden;
}

.navbar__link {
  color: var(--yellow);
  text-orientation: sideways;
  writing-mode: vertical-rl;
  justify-content: center;
  align-items: center;
  padding-top: 80rem;
  padding-bottom: 120rem;
  font-family: Futurehistory, sans-serif;
  font-size: 12rem;
  text-decoration: none;
  transition-property: color;
  transition-duration: 0.3s;
  transition-timing-function: ease;
  display: flex;
  transform: rotate(180deg);
}

.navbar__link:hover {
  color: var(--blue);
}

.brand {
  width: 64rem;
  height: 64rem;
  padding: 11rem;
}

.menu__button {
  z-index: 10;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  margin-top: 120rem;
  padding: 30rem 0;
  display: flex;
  position: relative;
}

.img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.img.absolute {
  z-index: 2;
  opacity: 0;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.img.founders__img {
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.img.show-on-mobile {
  display: none;
}

.burger__wrapper {
  grid-column-gap: 6rem;
  grid-row-gap: 6rem;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 0;
  padding-bottom: 0;
  display: flex;
  position: relative;
}

.burger__wrapper.show-on-mobile {
  display: none;
}

.burger__dot {
  background-color: var(--yellow);
  border-radius: 50%;
  width: 4rem;
  min-width: 4rem;
  height: 4rem;
  padding-bottom: 0;
  padding-right: 0;
  transition: transform 0.5s;
  display: block;
}

.burger__dot._1.active {
  transform: translate(-10rem);
}

.burger__dot._2 {
  position: absolute;
  top: 0;
}

.burger__dot._2.active {
  transform: translate(10rem);
}

.burger__dot._4 {
  position: absolute;
  bottom: 0;
}

.burger__dot._4.active {
  transform: translate(10rem);
}

.burger__dot._5 {
  transform: none;
}

.burger__dot._5.active {
  transform: translate(-10rem);
}

.nav__menu {
  z-index: 5;
  background-color: var(--sand);
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  max-width: 870rem;
  padding-top: 52rem;
  transition: transform 0.5s ease-out;
  display: flex;
  position: fixed;
  top: 0%;
  bottom: 0%;
  left: 65rem;
  right: auto;
  overflow: hidden;
  transform: translate(-150%);
}

.nav__menu.active {
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  transform: none;
}

.nav__logo {
  width: 100%;
  max-width: 160rem;
  margin-bottom: 40rem;
}

.hero__top {
  z-index: 2;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
  position: relative;
}

.hero__top-logo {
  padding-top: 40rem;
  padding-bottom: 40rem;
}

.hero__buttons {
  grid-column-gap: 32rem;
  grid-row-gap: 32rem;
  justify-content: flex-end;
  align-items: center;
  padding-right: 42rem;
  display: flex;
}

.hero__logo {
  max-width: 230rem;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.hero__logo.footer__logo {
  margin-left: 0;
  margin-right: 0;
}

.button__login {
  border: 1px solid var(--yellow);
  color: var(--sand);
  text-transform: uppercase;
  border-radius: 50rem;
  padding: 11rem 24rem 8rem;
  font-size: 20rem;
  line-height: 110%;
  text-decoration: none;
  transition: all 0.5s;
}

.button__login:hover {
  border-color: var(--blue);
  background-color: var(--blue);
  color: var(--yellow);
}

.button__login.footer__button {
  text-transform: none;
  padding-left: 100rem;
  padding-right: 100rem;
  font-family: Futurehistory, sans-serif;
}

.button__login.footer__button:hover {
  border-color: var(--yellow);
}

.button__bucket {
  width: 100%;
  max-width: 32rem;
  transition: transform 0.5s;
}

.button__bucket:hover {
  transform: rotate(10deg);
}

.hero__container {
  z-index: 5;
  grid-column-gap: 20rem;
  grid-row-gap: 20rem;
  color: var(--sand);
  text-align: center;
  flex-flow: column;
  height: 100%;
  padding-top: 90rem;
  padding-left: 40rem;
  padding-right: 40rem;
  display: flex;
  position: relative;
}

.hero__img-1 {
  z-index: 0;
  width: 100%;
  max-width: 265rem;
  position: absolute;
  top: 70rem;
  bottom: auto;
  left: auto;
  right: 42rem;
}

.hero__img-2 {
  z-index: 10;
  width: 100%;
  max-width: 210rem;
  position: absolute;
  top: 199rem;
  left: -64.8rem;
}

.hero__img-3 {
  z-index: 10;
  max-width: 300rem;
  display: block;
  position: absolute;
  bottom: 145.1rem;
  right: -80rem;
}

.hero__img-4 {
  z-index: 10;
  width: 100%;
  max-width: 280rem;
  position: absolute;
  bottom: 158.9rem;
  left: 42.9rem;
}

.text-span {
  display: inline-block;
  transform: rotate(-20deg);
}

.hero__img-5 {
  z-index: 10;
  max-width: 210rem;
  position: absolute;
  bottom: 18rem;
  left: 680rem;
}

.hero__content {
  width: 100%;
  max-width: 1440rem;
  height: 100vh;
  min-height: 1036.9rem;
  max-height: 1037rem;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.video {
  width: 100%;
  min-height: 330rem;
  display: block;
}

.gallery__top {
  grid-column-gap: 30rem;
  grid-row-gap: 30rem;
  color: var(--sand);
  text-align: center;
  flex-flow: column;
  padding-top: 60rem;
  padding-bottom: 34rem;
  display: flex;
}

.gallery__undertitle {
  color: var(--yellow);
  font-size: 14rem;
}

.gallery__cards-wrapper {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 386rem 386rem 386rem 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.gallery__empty-block {
  border: 1rem solid var(--yellow);
}

.gallery__empty-block.br-none {
  border-right-style: none;
}

.gallery__empty-block.bl-none {
  border-left-style: none;
}

.galery__cards-title {
  border-top: 1rem solid var(--yellow);
  border-bottom: 1rem solid var(--yellow);
  color: var(--sand);
  text-transform: uppercase;
  padding: 44rem 200rem;
}

.gallery__cards {
  border-right: 1rem solid var(--yellow);
  border-left: 1rem solid var(--yellow);
  display: flex;
}

.gallery__card {
  color: var(--white);
  text-align: center;
  cursor: pointer;
  width: 100%;
  padding: 60rem 20rem;
  transition: all 0.5s;
}

.gallery__card.blue {
  border-right: 1rem solid var(--yellow);
  border-left: 1rem solid var(--yellow);
  padding-top: 60rem;
  padding-bottom: 32rem;
}

.gallery__card.blue:hover {
  background-color: var(--blue);
}

.gallery__card.yellow {
  cursor: pointer;
}

.gallery__card.yellow:hover {
  background-color: var(--yellow);
  color: var(--black);
}

.gallery__card.red:hover {
  background-color: var(--red);
}

.gallery__card-name {
  color: var(--yellow);
  text-align: center;
  font-family: Futurehistory, sans-serif;
  font-size: 35rem;
  line-height: 105%;
}

.gallery__divider {
  background-color: var(--red);
  width: 100%;
  max-width: 152rem;
  height: 1rem;
  margin: 24rem auto;
  padding-bottom: 0;
  padding-right: 0;
  display: block;
}

.gallery__divider.meet-artist-divider {
  background-color: var(--black);
  margin-top: 14rem;
  margin-bottom: 14rem;
  display: block;
}

.goal {
  background-color: var(--sand);
  padding-top: 100rem;
  padding-bottom: 100rem;
}

.goal__content {
  border: 0.5rem solid #000;
  border-style: solid none;
}

.goal__container {
  justify-content: space-between;
  max-width: 1280rem;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.goal__left {
  text-transform: none;
  border-right: 0.5rem solid #000;
  width: 110%;
  padding-top: 70rem;
  padding-bottom: 70rem;
  padding-right: 0;
}

.goal__right {
  grid-column-gap: 25rem;
  grid-row-gap: 25rem;
  color: var(--black);
  text-align: center;
  flex-flow: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  padding-left: 80rem;
  font-size: 20rem;
  font-weight: 500;
  display: flex;
}

.goal__title {
  color: var(--black);
  text-align: center;
  text-transform: uppercase;
  font-size: 70rem;
}

.text-blue {
  color: var(--blue);
}

.goal__subtitle {
  z-index: 1;
  text-transform: none;
  font-size: 25rem;
  position: relative;
}

.goal__wrapper {
  position: relative;
}

.goal__yellow-divider {
  background-color: var(--yellow);
  width: 104%;
  height: 12rem;
  position: absolute;
  top: 40%;
  left: -2%;
  transform: translate(0, -50%);
}

.mw-500 {
  max-width: 500rem;
}

.meet-artist {
  position: relative;
  overflow: hidden;
}

.meet-artist__content {
  grid-column-gap: 16rem;
  grid-row-gap: 16rem;
  flex-flow: column;
  justify-content: center;
  align-items: flex-end;
  min-height: 830rem;
  display: flex;
  position: relative;
}

.meet-artist__bg {
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.meet-artist__card {
  z-index: 10;
  grid-column-gap: 0rem;
  grid-row-gap: 0rem;
  background-color: var(--red);
  color: var(--sand);
  text-align: center;
  border: 1rem solid #000;
  border-radius: 20rem;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  max-width: 360rem;
  padding: 30rem 42rem 50rem;
  font-size: 12rem;
  line-height: 160%;
  display: flex;
  position: relative;
}

.meet-artist__title {
  color: var(--yellow);
  text-transform: none;
  font-size: 20rem;
}

.meet-artist__button {
  z-index: 5;
  background-color: var(--sand);
  color: var(--black);
  text-align: center;
  border: 1rem solid #000;
  border-radius: 50rem;
  width: 100%;
  max-width: 360rem;
  padding: 15rem 33rem;
  text-decoration: none;
  transition: border-color 0.5s, color 0.5s, background-color 0.5s;
  position: relative;
}

.meet-artist__button:hover {
  border-color: var(--red);
  background-color: var(--red);
  color: var(--sand);
}

.works {
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  height: 2000rem;
  padding-top: 64rem;
  padding-bottom: 145rem;
  padding-left: 0;
  display: flex;
  position: relative;
}

.works__content {
  color: var(--sand);
  text-transform: uppercase;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 108rem;
  display: flex;
}

.works__title {
  text-transform: none;
  font-size: 45rem;
}

.works__container {
  flex-flow: row;
  width: 100%;
  margin-bottom: 100rem;
  display: flex;
  position: -webkit-sticky;
  position: sticky;
  top: 30%;
  overflow: hidden;
}

.works__wrapper {
  grid-column-gap: 50rem;
  grid-row-gap: 50rem;
  flex-flow: row;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.works__work {
  grid-column-gap: 16rem;
  grid-row-gap: 16rem;
  flex-flow: column;
  width: 100%;
  min-width: 290rem;
  max-width: 353rem;
  display: flex;
}

.works__detail {
  color: var(--sand);
  word-break: normal;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.works__name {
  color: var(--sand);
  text-transform: uppercase;
  font-size: 20rem;
}

.works__available {
  font-size: 10rem;
}

.yellow__button {
  border: 1rem solid var(--black);
  background-color: var(--yellow);
  color: var(--black);
  text-align: center;
  text-transform: uppercase;
  border-radius: 50rem;
  width: 100%;
  max-width: 360rem;
  margin-left: auto;
  margin-right: auto;
  padding: 15rem 34rem;
  font-size: 14rem;
  text-decoration: none;
  transition: color 0.5s, background-color 0.5s, border-color 0.5s;
  display: block;
}

.yellow__button:hover {
  border-color: var(--yellow);
  background-color: var(--blue);
  color: var(--yellow);
}

.yellow__button.big {
  border: 1.5rem solid #000;
  padding-top: 17rem;
  padding-bottom: 14rem;
  font-size: 18rem;
}

.yellow__button.big:hover {
  border-color: var(--yellow);
}

.nav__links {
  flex-flow: column;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 100%;
  display: flex;
}

.nav__link {
  color: var(--black);
  white-space: nowrap;
  word-break: normal;
  border-top: 1rem solid #000;
  flex-flow: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  padding-top: 20rem;
  padding-bottom: 15rem;
  font-family: Futurehistory, sans-serif;
  font-size: 40rem;
  line-height: 110%;
  text-decoration: none;
  transition: background-color 0.5s;
  display: flex;
}

.nav__link:hover {
  background-color: var(--yellow);
}

.nav__icon {
  width: 24rem;
  height: 24rem;
  margin-top: -5rem;
}

.nav__contacts {
  grid-column-gap: 40rem;
  grid-row-gap: 40rem;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;
  padding-top: 100rem;
  padding-left: 0;
  padding-right: 0;
  display: flex;
}

.nav__contact {
  color: var(--black);
  text-transform: uppercase;
  font-family: Futurehistory, sans-serif;
  font-size: 20rem;
  text-decoration: none;
}

.nav__contact-wrapper {
  grid-column-gap: 10rem;
  grid-row-gap: 10rem;
  flex-flow: column;
  display: flex;
}

.color-grey {
  color: var(--grey);
}

.nav__contact-button {
  background-color: var(--yellow);
  color: var(--black);
  text-transform: uppercase;
  border: 1rem solid #000;
  border-radius: 50rem;
  padding: 20rem 20rem 16rem;
  font-family: Futurehistory, sans-serif;
  font-size: 20rem;
  line-height: 100%;
  text-decoration: none;
  transition: color 0.5s, background-color 0.5s, border-color 0.5s;
}

.nav__contact-button:hover {
  border-color: var(--blue);
  background-color: var(--blue);
  color: var(--yellow);
}

.nav__contact-top {
  grid-column-gap: 10rem;
  grid-row-gap: 10rem;
  justify-content: space-between;
  width: 100%;
  padding-left: 40rem;
  padding-right: 40rem;
  display: flex;
}

.nav__contact-form {
  background-color: var(--blue);
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  padding: 40rem;
  display: flex;
}

.color-white {
  color: var(--sand);
}

.form-wrapper {
  width: 100%;
  margin-top: 16rem;
  margin-bottom: 0;
}

.form-wrapper.mw-1120 {
  max-width: 1120rem;
  margin-left: auto;
  margin-right: auto;
}

.form {
  display: flex;
  position: relative;
}

.text-field {
  background-color: var(--sand);
  color: var(--black);
  text-transform: uppercase;
  border: 1.5rem solid #000;
  border-right-width: 0;
  border-radius: 50rem 0 0 50rem;
  height: auto;
  margin-bottom: 0;
  padding: 30rem 33rem 26rem;
  font-family: Futurehistory, sans-serif;
  font-size: 20rem;
  line-height: 100%;
}

.text-field::placeholder {
  color: var(--grey);
}

.form__submit {
  background-color: var(--sand);
  color: var(--yellow);
  text-transform: uppercase;
  border: 1.5rem solid #000;
  border-left-width: 0;
  border-top-right-radius: 50rem;
  border-bottom-right-radius: 50rem;
  justify-content: center;
  align-items: center;
  padding-left: 11rem;
  padding-right: 11rem;
  font-size: 25rem;
  text-decoration: none;
  display: flex;
}

.form__submit-text {
  background-color: var(--black);
  text-transform: none;
  border-radius: 50rem;
  padding: 20rem 24rem 16rem;
  font-family: Futurehistory, sans-serif;
  transition: background-color 0.5s;
}

.cs__grid {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  width: 100%;
  height: 100vh;
  min-height: 962rem;
  max-height: 962rem;
  display: grid;
  position: relative;
}

.cs__item {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.comming-soon {
  z-index: 3;
  color: var(--yellow);
  text-align: center;
  font-family: Futurehistory, sans-serif;
  font-size: 60rem;
  line-height: 80%;
  position: absolute;
  top: 50%;
  left: 25%;
  transform: translate(-50%, -50%);
}

.comming-soon._2 {
  left: auto;
  right: 25%;
  transform: translate(50%, -50%);
}

.comming-soon__wrapper {
  z-index: 5;
  background-color: var(--red);
  color: var(--sand);
  text-align: center;
  border: 1rem solid #000;
  border-radius: 30rem;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 560rem;
  min-height: 206rem;
  padding: 60rem;
  font-size: 18rem;
  font-weight: 500;
  line-height: 140%;
  display: flex;
  position: absolute;
  bottom: 0;
  left: 25%;
  transform: translate(-50%, 50%);
}

.comming-soon__wrapper._2 {
  left: auto;
  right: 25%;
  transform: translate(50%, 50%);
}

.cta {
  background-color: var(--sand);
  padding-top: 200rem;
  padding-bottom: 80rem;
}

.cta__content {
  text-align: center;
  max-width: 1100rem;
  margin-left: auto;
  margin-right: auto;
}

.cta__title {
  color: var(--blue);
  margin-bottom: 20rem;
}

.cta__descr {
  max-width: 780rem;
  margin-bottom: 30rem;
  margin-left: auto;
  margin-right: auto;
  font-size: 18rem;
}

.yellow-bg {
  background-color: var(--yellow);
  padding-left: 5rem;
  padding-right: 5rem;
}

.founders {
  position: relative;
}

.founders__content {
  grid-column-gap: 40rem;
  grid-row-gap: 40rem;
  text-align: center;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 70rem;
  padding-bottom: 70rem;
  display: flex;
}

.founders__title {
  grid-column-gap: 48rem;
  grid-row-gap: 48rem;
  color: var(--blue);
  flex-flow: column;
  max-width: 610rem;
  display: flex;
}

.text-span-2 {
  text-transform: none;
}

.founders__heading {
  font-size: 40rem;
}

.founders__divider {
  background-color: var(--blue);
  width: 100%;
  max-width: 260rem;
  height: 1rem;
  margin-top: -10rem;
  margin-bottom: 0;
}

.founders__text {
  width: 100%;
  max-width: 420rem;
}

.black__button {
  border: 1.5rem solid var(--yellow);
  background-color: var(--black);
  color: var(--yellow);
  border-radius: 50rem;
  min-width: 360rem;
  padding-top: 16rem;
  padding-bottom: 14rem;
  font-size: 18rem;
  text-decoration: none;
  transition: border-color 0.5s, color 0.5s, background-color 0.5s;
}

.black__button:hover {
  border-color: var(--yellow);
  background-color: var(--blue);
}

.process {
  background-color: var(--sand);
  color: var(--black);
  text-align: center;
  padding-top: 0;
  padding-bottom: 0;
  position: relative;
}

.process.rem-adaptive {
  color: var(--black);
  text-align: center;
}

.h1 {
  font-size: 100rem;
  line-height: 110%;
}

.h1.no-capitalize {
  text-transform: none;
}

.process__title {
  padding-top: 70rem;
  padding-bottom: 70rem;
}

.process__wrapper {
  border-top: 1.5rem solid #000;
  position: relative;
}

.process__item {
  background-color: var(--sand);
  padding-top: 50rem;
  padding-bottom: 50rem;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.process__item.yellow {
  background-color: var(--yellow);
  top: 120rem;
}

.process__item.red {
  grid-column-gap: 150rem;
  grid-row-gap: 150rem;
  background-color: var(--red);
  flex-flow: column;
  display: flex;
  top: 1000rem;
}

.process__container {
  grid-column-gap: 64rem;
  grid-row-gap: 64rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 384rem;
  grid-auto-columns: 1fr;
  align-items: center;
  width: 100%;
  max-width: 1200rem;
  margin-left: auto;
  margin-right: auto;
  display: grid;
}

.process__icon {
  width: 100%;
  max-width: 60rem;
}

.process__center {
  grid-column-gap: 16rem;
  grid-row-gap: 16rem;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: -10rem;
  font-family: Futurehistory, sans-serif;
  font-size: 35rem;
  display: flex;
}

.text-block {
  width: 100%;
  font-size: 20rem;
}

.subscribe {
  background-color: var(--yellow);
  padding-top: 120rem;
  padding-bottom: 120rem;
  position: relative;
}

.infinity-text-wrapper {
  z-index: 0;
  grid-column-gap: 12rem;
  grid-row-gap: 12rem;
  color: var(--blue);
  text-transform: none;
  justify-content: center;
  align-items: center;
  padding-top: 4%;
  font-family: Futurehistory, sans-serif;
  font-size: 160rem;
  line-height: 100%;
  display: flex;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  overflow: hidden;
}

.footer {
  padding-top: 54rem;
  padding-bottom: 54rem;
}

.footer__content {
  grid-column-gap: 126rem;
  grid-row-gap: 126rem;
  justify-content: center;
  align-items: center;
  padding-left: 64rem;
  padding-right: 0;
  display: flex;
}

.footer__link {
  color: var(--white);
  font-size: 18rem;
  text-decoration: none;
}

.footer__links {
  grid-column-gap: 40rem;
  grid-row-gap: 40rem;
  justify-content: flex-end;
  align-items: center;
  display: flex;
}

.preloader {
  z-index: 2000;
  background-color: var(--blue);
  width: 100%;
  transition: background-color 0.7s, opacity 0.7s, transform 0.4s ease-out;
  position: fixed;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.preloader.active {
  opacity: 0;
  background-color: rgba(0, 0, 0, 0);
  transform: translate(2.2%, -42.7%) scale(0.29) translate(0);
}

.preloader__img {
  width: 100%;
  max-width: 800rem;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.show-on-mobile {
  display: none;
}

.uppercase {
  text-transform: uppercase;
}

.process__description {
  font-size: 18rem;
}

.gsap-style,
.custome-code {
  display: none;
}

.rotate-char {
  display: inline-block;
  transform: translate(10rem, -20rem) rotate(-15deg);
}

.hidden-span {
  display: block;
  transform: translate(0);
}

.nav__link-wrapper {
  grid-column-gap: 8rem;
  grid-row-gap: 8rem;
  pointer-events: none;
  justify-content: flex-start;
  align-items: center;
  padding-left: 8rem;
  display: flex;
}

.smooth-scroll {
  display: none;
}

@media screen and (max-width: 479px) {
  h1 {
    font-size: 36rem;
  }

  h2 {
    font-size: 20rem;
  }

  h3 {
    font-size: 16rem;
  }

  .main {
    padding-left: 0;
  }

  .navbar.rem-adaptive {
    z-index: 100;
    background-color: rgba(0, 0, 0, 0);
    border-bottom-style: none;
    border-right-style: none;
    height: auto;
    top: 0%;
    bottom: auto;
    left: 0%;
    right: 0%;
  }

  .container {
    padding-left: 30rem;
    padding-right: 30rem;
  }

  .container.works-absolute {
    bottom: 36rem;
  }

  .container.px-24 {
    padding-left: 24rem;
    padding-right: 24rem;
  }

  .nav__container {
    background-color: rgba(0, 0, 0, 0);
    flex-flow: row;
    justify-content: flex-end;
    align-items: center;
    height: auto;
    padding-top: 0;
  }

  .hero.rem-adaptive {
    z-index: 2;
    overflow: visible;
  }

  .navbar__link {
    display: none;
  }

  .brand {
    width: 232rem;
    margin-right: 5rem;
  }

  .menu__button {
    width: 78rem;
    margin-top: 0;
  }

  .img.founders__img {
    height: 292rem;
  }

  .img.hide-on-mobile {
    display: none;
  }

  .img.show-on-mobile {
    display: block;
  }

  .burger__wrapper.hide-on-mobile {
    display: none;
  }

  .burger__wrapper.show-on-mobile {
    justify-content: center;
    align-items: center;
    width: auto;
    display: flex;
  }

  .nav__menu {
    z-index: 11;
    padding-top: 32rem;
    left: 0;
    overflow: auto;
    transform: translate(-150%);
  }

  .nav__menu.active {
    z-index: 11;
    left: 0;
  }

  .hero__top {
    display: none;
  }

  .hero__logo.footer__logo {
    flex: 0 auto;
    order: -1;
    width: 100%;
    max-width: 265rem;
  }

  .button__login.footer__button {
    text-align: center;
    min-width: 197rem;
    padding: 6rem 10rem 3rem;
  }

  .hero__container {
    height: auto;
    padding: 240rem 20rem 236rem;
  }

  .hero__img-1 {
    z-index: 6;
    width: 100%;
    max-width: 170rem;
    top: 150rem;
    right: -55rem;
  }

  .hero__img-2 {
    border-bottom-left-radius: 0;
    max-width: 120rem;
    top: 54.9rem;
    left: -5rem;
  }

  .hero__img-3 {
    max-width: 177rem;
    bottom: 330rem;
    left: -100rem;
    right: auto;
  }

  .hero__img-4 {
    max-width: 180rem;
    bottom: -40rem;
    left: 47rem;
  }

  .text-span {
    font-size: 36rem;
  }

  .hero__img-5 {
    max-width: 120rem;
    bottom: 130.2rem;
    left: auto;
    right: -30rem;
  }

  .hero__content {
    height: auto;
    min-height: 0;
    max-height: none;
  }

  .video {
    object-fit: cover;
    min-height: 290rem;
  }

  .gallery__top {
    grid-column-gap: 24rem;
    grid-row-gap: 24rem;
    padding-top: 50rem;
  }

  .gallery__undertitle {
    max-width: 227rem;
    margin-left: auto;
    margin-right: auto;
    font-size: 16rem;
  }

  .gallery__cards-wrapper {
    flex-flow: column;
    display: flex;
    overflow: hidden;
  }

  .gallery__empty-block.br-none {
    display: none;
  }

  .galery__cards-title {
    border-bottom-style: none;
    border-bottom-width: 0;
    padding-bottom: 0;
    padding-left: 40rem;
    padding-right: 40rem;
  }

  .gallery__cards {
    border-left-style: none;
    border-right-style: none;
    flex-flow: column;
  }

  .gallery__card {
    font-size: 14rem;
  }

  .gallery__card.blue {
    border-left-style: none;
    border-right-style: none;
  }

  .gallery__card-name {
    font-size: 36rem;
  }

  .gallery__divider {
    margin-top: 20rem;
    margin-bottom: 27rem;
  }

  .gallery__divider.meet-artist-divider {
    background-color: var(--black);
    max-width: 42rem;
    height: 0.5rem;
    margin-top: 14rem;
    margin-bottom: 14rem;
    display: block;
  }

  .goal.rem-adaptive {
    padding-top: 40rem;
    padding-bottom: 40rem;
    overflow: hidden;
  }

  .goal__content {
    border-top-style: none;
    border-bottom-style: none;
  }

  .goal__container {
    flex-flow: column;
  }

  .goal__left {
    border-bottom: 1px solid #000;
    border-right-style: none;
    width: 120%;
    margin-left: -10%;
    padding-top: 0;
    padding-bottom: 40rem;
  }

  .goal__right {
    padding-top: 40rem;
    padding-left: 0;
    font-size: 14rem;
    line-height: 120%;
  }

  .goal__title {
    padding-left: 20rem;
    padding-right: 20rem;
    font-size: 36rem;
  }

  .goal__wrapper {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  .goal__yellow-divider {
    width: 100%;
    height: 13rem;
    top: 24%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .goal__yellow-divider.show-on-mobile {
    width: 90%;
    top: 75%;
  }

  .meet-artist__content {
    justify-content: flex-end;
    align-items: center;
    min-height: 440rem;
  }

  .meet-artist__card {
    grid-column-gap: 0rem;
    grid-row-gap: 0rem;
    border-radius: 30rem;
    min-height: 0;
    padding: 35rem 22rem 100rem;
    font-size: 14rem;
    line-height: 120%;
  }

  .meet-artist__button {
    z-index: 10;
    max-width: 220rem;
    margin-top: -55rem;
    padding: 10rem 15rem 8rem;
    font-size: 14rem;
    bottom: 30rem;
  }

  .meet-artist__button:hover {
    border-color: var(--black);
    background-color: var(--sand);
    color: var(--black);
  }

  .works.rem-adaptive {
    padding-top: 44rem;
    padding-bottom: 36rem;
    display: block;
  }

  .works__title {
    font-size: 20rem;
    line-height: 110%;
  }

  .works__container {
    margin-bottom: 74rem;
  }

  .yellow__button.big {
    border-width: 1rem;
    max-width: 153rem;
    margin-left: auto;
    margin-right: auto;
    padding: 4.5rem 10rem 2.5rem;
    font-size: 14rem;
  }

  .nav__links {
    justify-content: flex-start;
    align-items: center;
    height: auto;
  }

  .nav__link {
    font-size: 18rem;
  }

  .nav__icon {
    width: 12rem;
    height: 12rem;
  }

  .nav__contacts {
    padding-top: 21rem;
  }

  .nav__contact {
    font-size: 14rem;
  }

  .nav__contact.color-white {
    font-size: 20rem;
  }

  .nav__contact-wrapper {
    grid-column-gap: 8rem;
    grid-row-gap: 8rem;
    justify-content: flex-start;
    align-items: center;
  }

  .nav__contact-button {
    text-align: center;
    min-width: 233rem;
    padding-top: 14rem;
    padding-bottom: 12rem;
    font-size: 14rem;
  }

  .nav__contact-top {
    grid-column-gap: 20rem;
    grid-row-gap: 20rem;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
    padding-left: 30rem;
    padding-right: 30rem;
  }

  .nav__contact-form {
    padding: 28rem 25rem;
  }

  .form {
    grid-column-gap: 15rem;
    grid-row-gap: 15rem;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
  }

  .text-field {
    border-right-width: 1.5rem;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50rem;
    padding: 14rem 15rem 10.5rem;
    font-size: 12rem;
  }

  .form__submit {
    background-color: rgba(0, 0, 0, 0);
    border-style: none;
    border-width: 1px;
    padding-left: 0;
    padding-right: 0;
  }

  .form__submit-text {
    padding: 7rem 32rem 4rem;
    font-size: 20rem;
  }

  .cs__grid {
    grid-template-columns: 1fr;
    min-height: 708rem;
    max-height: 708rem;
  }

  .comming-soon {
    left: 50%;
  }

  .cta.rem-adaptive {
    padding-top: 48rem;
    padding-bottom: 35rem;
    font-size: 16rem;
  }

  .cta__title {
    margin-bottom: 32rem;
  }

  .cta__descr {
    font-size: 14rem;
    line-height: 115%;
  }

  .founders.rem-adaptive {
    background-color: var(--blue);
    color: var(--white);
  }

  .founders__content {
    grid-column-gap: 30rem;
    grid-row-gap: 30rem;
    padding-top: 48rem;
    padding-bottom: 42rem;
  }

  .founders__title {
    grid-column-gap: 24rem;
    grid-row-gap: 24rem;
    padding-left: 42rem;
    padding-right: 40rem;
  }

  .founders__heading {
    font-size: 22rem;
  }

  .founders__text {
    padding-top: 50rem;
  }

  .black__button {
    border-width: 1rem;
    min-width: 236rem;
    padding-top: 4rem;
    padding-bottom: 1rem;
    line-height: 138%;
  }

  .h1.no-capitalize.mobile-fs-36 {
    font-size: 36rem;
  }

  .h1.meet-artist {
    font-size: 48rem;
  }

  .process__title {
    max-width: 360px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 46rem;
    padding-bottom: 27rem;
  }

  .process__item {
    padding-top: 30rem;
    padding-bottom: 34rem;
  }

  .process__container {
    grid-column-gap: 22rem;
    grid-row-gap: 22rem;
    grid-template-columns: 1fr 1fr;
  }

  .process__icon {
    min-width: 46rem;
    max-width: 46rem;
  }

  .process__center {
    justify-content: flex-end;
    align-items: center;
  }

  .subscribe {
    padding-top: 60rem;
    padding-bottom: 33rem;
  }

  .infinity-text-wrapper {
    padding-top: 0%;
    top: 25%;
    bottom: auto;
  }

  .scroll-text {
    font-size: 46rem;
    line-height: 100%;
  }

  .footer {
    padding-top: 37rem;
    padding-bottom: 42rem;
  }

  .footer__content {
    grid-column-gap: 40rem;
    grid-row-gap: 40rem;
    flex-flow: column;
    padding-left: 0;
  }

  .footer__link {
    font-size: 14rem;
  }

  .footer__links {
    grid-column-gap: 10rem;
    grid-row-gap: 10rem;
    flex-flow: column;
  }

  .preloader.active {
    display: none;
  }

  .burger__line {
    background-color: var(--yellow);
    width: 26rem;
    height: 1rem;
    padding: 0;
  }

  .hero__descr {
    z-index: 0;
    max-width: 250rem;
    margin-left: auto;
    margin-right: auto;
    position: relative;
  }

  .hide-on-mobile {
    display: none;
  }

  .show-on-mobile {
    display: block;
  }

  .show-on-mobile.process__descr-title {
    font-family: Futurehistory, sans-serif;
    font-size: 35rem;
    line-height: 141%;
  }

  .mobile-overflow-hide {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
    overflow: hidden;
  }

  .mobile-px-20 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .cta__heading {
    font-size: 25rem;
  }

  .process__description {
    grid-column-gap: 10rem;
    grid-row-gap: 10rem;
    text-align: left;
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-right: 65rem;
    font-size: 14rem;
    line-height: 115%;
    display: flex;
  }
}

#w-node-_8cc1f6bd-38be-95cb-568e-7ca81f4a0e4b-19a5ee69 {
  grid-area: 1 / 2 / 2 / 5;
}

#w-node-_29435755-cabb-b5a7-4119-c90a2f558ca7-19a5ee69 {
  grid-area: 2 / 2 / 3 / 5;
}

@media screen and (max-width: 479px) {
  #w-node-_947fff19-f910-ebe6-fac5-5e5f3c9437c6-19a5ee69,
  #w-node-_605a3c53-dfef-a1ce-2b69-e6162865754e-19a5ee69,
  #w-node-_897e6e73-2523-e0a5-d744-fdacd8b426c1-19a5ee69 {
    grid-area: 2 / 1 / 3 / 3;
  }
}

@font-face {
  font-family: 'Futurehistory';
  src: url('../fonts/futurehistorydemo-dox51.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Atypdisplay';
  src: url('../fonts/AtypDisplay-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
